#mainhead {
  height: 400px;
  width: 100%;
  padding: 1.5em;
  border: 1.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: grey;
  background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
  margin: 2em;
}
.userPic {
  margin-top: 3em;
}
.userPicName{
  margin-bottom: 2em;
}

@media only screen and (max-width: 1000px) {

  #mainhead {
    margin: 0;
  }
}