.new-tweet {
  width: 100%;
  flex-direction: column;
  display: flex;
}
#tweet-text{
  width: 100%;
    margin-top: 2em;
    border: none;
    border-bottom: 0.1em solid black;
    mix-blend-mode: darken;
    font-weight: bold;
    height: 1.5em;
}

#counterAndButton {
  display: flex;
  font-family: 'Bungee', 'sans-sherif';
  justify-content: space-between;
}
.submit-button{
  background-color: #4056A1;
  color: white;
}

.errorTweetlength {
  border-radius: 5%;
  color: white;
  background-color: grey;
  display: none;
}
.errorEmptyField {
  border-radius: 5%;
  color: red;
  height: 1.5em;
  display: none;
}