.new-tweet {
  width: 100%;
  flex-direction: column;
  display: flex;
}
#tweet-text{
  width: 100%;

}
#counterAndButton {
  display: flex;
  font-family: 'Bungee', 'sans-sherif';
  /* flex-direction: row-reverse; */
  justify-content: space-between;
}
.errorTweetlength {
  border-radius: 5%;
  color: red;
  background-color: red;
  display: none;
}
.errorEmptyField {
  border-radius: 5%;
  color: red;
  height: 1.5em;
  display: none;
}